%div{:class => "listItem #{bathroom.unisex? ? '' : 'not_unisex'} #{bathroom.accessible? ? '' : 'not_accessible'}", "data-id" => bathroom.id}
  .listItemImage
    / image tag goes here
  .itemInfo
    .itemName= link_to_unless_current(bathroom.name, bathroom)
    .itemStreet
      ="#{bathroom.street}, #{bathroom.city}, #{bathroom.state}"
    - if bathroom.rated?
      - rating_class_name = case RatingLevel.for_bathroom(bathroom)
      - when RatingLevel.green  then 'greenRating'
      - when RatingLevel.yellow then 'yellowRating'
      - when RatingLevel.red    then 'redRating'
      - else ''
      %div{:class => "itemRating #{rating_class_name}"}
        = t('bathroom.rating.positive', percentage: bathroom.rating_percentage.round)
    - else
      .itemRating= t('bathroom.rating.unrated')

  .itemExtraInfo
    .itemDistance
      - if bathroom.respond_to?(:distance)
        = bathroom.distance.round(2)
        miles
    - if bathroom.unisex?
      .unisexBathroom
        = image_tag "UnisexBathroom.png", {alt: "Unisex Bathroom"}
    - if bathroom.accessible?
      .ADABathroom
        = image_tag "ADABathroom.png", {alt: "ADA Compliant Bathroom"}
