<div class="itemInfo">
  <div class="itemName"><%= link_to_unless_current(bathroom.name, bathroom) %></div>
  <div class="itemStreet"><%= bathroom.street %>, <%= bathroom.city %>, <%= bathroom.state %></div>

  <% if bathroom.rated? %>
    <%
      rating_class_name = case RatingLevel.for_bathroom(bathroom)
                          when RatingLevel.green  then 'greenRating'
                          when RatingLevel.yellow then 'yellowRating'
                          when RatingLevel.red    then 'redRating'
                          else ''
                          end
    %>
    <div class="itemRating <%= rating_class_name %>">
      <%= t('bathroom.rating.positive', percentage: bathroom.rating_percentage.round) %>
    </div>
  <% else %>
    <div class="itemRating"><%= t('bathroom.rating.unrated') %></div>
  <% end %>
</div>

<div class="itemExtraInfo">
  <div class="itemDistance">
    <% if bathroom.respond_to?(:distance) %>
      <%= bathroom.distance.round(2) %> miles
    <% end %>
  </div>

  <% if bathroom.unisex? %>
    <div class="unisexBathroom">
      <%= image_tag "UnisexBathroom.png", {alt: "Unisex Bathroom"} %>
    </div>
  <% end %>
  <% if bathroom.accessible? %>
    <div class="ADABathroom">
      <%= image_tag "ADABathroom.png", {alt: "ADA Compliant Bathroom"} %>
    </div>
  <% end %>
</div>

