<% # ADA filter and UNISEX filter have inconsistant default boolean values because i'm using the format originally used by the Safe2Pee db because the engineers were stupid and used different 1 for ADA and 0 for UNISEX. %>

<h3> Submit A Bathroom To Our Database </h3>

<%= form_for :bathroom, url: bathrooms_path do |f| %>
  <p>
    <strong> Location/Place/Business Name:</strong> <%= f.text_field :name %><br>
    <strong> Street Address: </strong> <%= f.text_field :street %><br>
    <strong> City: </strong> <%= f.text_field :city %><br>
    <strong> State/Province: </strong> <%= f.text_field :state %> <br>
	  <strong> Country: </strong> <%= f.text_field :country %> <br>
	  <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %> <br/>
    <strong> Accessable? </strong> <%= f.select :access, [["Accessable", 1], ["Not accessable", 0]] %> <br>
    <strong> Type of Bathroom: </strong> <%= f.select :bath_type, [["Unisex / Gender Neutral", 0], ["Gendered Single Stall or Safe Place", 1]] %> <br>
    <strong> Directions: </strong> (ie: third floor in the back, by the dressing rooms...) <br>
    <%= f.text_area :directions %> <br>
    <strong> Comments: </strong> (ie: you have to be a "paying customer.", just act like you are browsing for a bit...)<br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
