<h1><%= t('bathroom.add_new') %></h1>
<h3><%= t('bathroom.required') %></h3>

<%= form_for :bathroom, url: bathrooms_path do |f| %>
  <p>
    <strong><%= f.label :name %>:</strong> <%= f.text_field :name %>*<br>
    <strong><%= f.label :street %>:</strong> <%= f.text_field :street %>*<br>
    <strong><%= f.label :city %>:</strong> <%= f.text_field :city %>*<br>
    <strong><%= f.label :state %>:</strong> <%= f.text_field :state %>*<br>
    <strong><%= f.label :country %>: </strong> <%= f.text_field :country %> <br>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %> <br/>
    <strong><%= f.label :access %></strong> <%= f.select :access, [[t('bathroom.accessible'), 1], [t('bathroom.not_accessible'), 0]] %> <br>
    <strong><%= f.label :bath_type %>:</strong> <%= f.select :bath_type, [[t('bathroom.unisex'), 0], [t('bathroom.single_stall'), 1]] %> <br>
    <strong><%= f.label :directions %>: </strong> <%= t('bathroom.directions_hint') %> <br>
    <%= f.text_area :directions %> <br>
    <strong><%= f.label :comment %>:</strong> <%= t('bathroom.comments_hint') %> <br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
