<div id="filters nav">
    <div class="adaFilter filter">
      <%= check_box_tag :adafilter, 1, params[:adafilter] == '1', :class => 'adacheck submitButton' %>
      <label for="adafilter" class="adaFilterlabel linkbutton <%= params[:adafilter] == '1' ? "" : "buttonOn" %>"><span class="hiddenText">ADA Compliant Filter</span></label>
    </div>

    <div class="unisexFilter filter">
      <%= check_box_tag :unisexfilter, 0, params[:unisexfilter] == '0', :class => 'unisexcheck submitButton' %>
      <label for="unisexfilter" class="unisexFilterlabel linkbutton <%= params[:unisexfilter] == '0' ? "buttonOn" : "" %>"><span class="hiddenText">Unisex Filter</span></label>
    </div>

    <div class="mapToggle">
      <div class="mapTogglelabel linkbutton">
        Map View
      </div>
    </div>
</div>


	<div id ="mapContainer">
		<div id="mapArea"></div>

	</div>

<div id="list">
  <%= render @bathrooms %>
</div>

<script type="text/javascript">
	var headerHidden = false;
	var mapOn = false;
	var mapShow = false;
	var mapHeight, listHeight;
	var mapContainer = $("#mapContainer");
	var list = $("#list");
	var mapToggle = $(".mapTogglelabel");
	$(function(){
		<% if params[:lat].blank? || params[:long].blank? %>
			//catch bad URL
			searchLocation(search.value);
		<% end %>
		//get default height for animation later
		mapHeight = mapContainer.height();
		listHeight = list.height();
		
		//hide the map
		mapContainer.hide();
		mapContainer.height(0);
		
		mapToggle.click(function(){
			//toggle which display is open
			toggleMap();
		});
	});
	
	function toggleMap (){
		if (mapShow) {
			mapToggle.html("Map View");
			//animate
			scrollUp(mapContainer, function(){scrollDown(list, listHeight);});
		}else{
			mapToggle.html("List View");
			//animate
			scrollUp(list, function(){scrollDown(mapContainer, mapHeight, doInit);});
		}
		mapShow = !mapShow;
	}
	
	function scrollDown(object, height, callback){
		object.show();
		object.animate({height: height}, 1000, function(){
			if (callback) {
				callback();
			}
		});
	}
	
	function scrollUp(object, callback){
		object.animate({height: 0}, 1000, function(){
			object.hide();
			if (callback) {
				callback();
			}
		})
	}
	
	function doInit(){
		//initialize the map if it wasn't already on
		if (!mapOn) {
			<% if !params[:lat].blank? && !params[:long].blank? %>
				initMap(<%= params[:lat] %>, <%= params[:long] %>);
		
				//get a list of points from the server based on the searched location
				$.get( "<%= list_bathrooms_path %>" + window.location.search , function( data ) {
				  for(var i = 0; i < data.length; i++){
		
					//for each point in the data, put a point on the map
					setPoint(data[i], i + 1);
				  }
				});
				mapOn = true;
			<% end %>
		}
	}
</script>
