<h3> List of all Bathroom Listings </h3>

<ul>
    <% @bathrooms.reverse.each do |b| %>
        <li> 
          <%= b.name %><br>  
          <%= b.street %>, <%= b.city %>, <%= b.state %> <br>
          <%= link_to "Comments", bathroom_path(b, :anchor => "disqus_thread") %> </li>
        <hr>
    <% end %>
  
</ul>

