<div id="filters">

</div>

<% if params[:map] == "1" %>
	<div id ="map">
		<div id="mapArea"></div>

		
		<script type="text/javascript">
			var headerHidden = false;

			$(function(){
				initMap(<%= params[:lat] %>, <%= params[:long] %>);

				//get a list of points from the server based on the searched location
				$.get( "<%= list_bathrooms_path %>" + window.location.search , function( data ) {
				  for(var i = 0; i < data.length; i++){

					//for each point in the data, put a point on the map
					setPoint(data[i], i + 1);
				  }
				});
			});
		</script>
	</div>
<% else %>
<div id="list">
		<% @bathrooms.each_with_index do |b, i| %>
			<div class="listItem" data-id="<%= b.id %>">
				<div class="listItemImage">
					<!-- image tag goes here -->
				</div>

				<div class="itemInfo">
					<div class="itemName"><%= link_to b.name, b %></div>
					<div class="itemStreet"><%= b.street %>, <%= b.city %>, <%= b.state %></div>

					<% if (b.upvote + b.downvote) != 0 %>
						<% percentage = (b.upvote / (b.upvote + b.downvote).to_f) * 100 %>

						<% if percentage > 70 %>
						<% className = "greenRating" %>
						<% else %>

							<% if percentage > 50 %>
							<% className = "yellowRating" %>
							<% else %>
							<% className = "redRating" %>
							<% end %>
						<% end %>

						<div class="itemRating <%= className %>"><%= percentage.round %>% Positive</div>
					<% else %>
						<div class="itemRating">Not Yet Rated</div>
					<% end %>

				</div>

				<div class="itemExtraInfo">
					<div class="itemDistance">
						<% if b.respond_to?(:distance) %>
							<%= b.distance.round(2) %> miles
						<% end %>

					</div>
					<% if b.bath_type == 0 %>
						<div class="unisexBathroom"></div>
					<% end %>
					<% if b.access == 1 %>
						<div class="ADABathroom"></div>
					<% end %>
				</div>
			</div>
			<% break if i >= 20 %>
        <% end %>

<!--
        <div class="listItem listItemTemplate">
			<div class="listItemImage">

			</div>

			<div class="itemInfo">
				<div class="itemName"></div>
				<div class="itemStreet"></div>
				<div class="itemRating">80% Positive</div>
			</div>

			<div class="itemExtraInfo">
				<div class="itemDistance">N/A</div>
				<div class="unisexBathroom"></div>
				<div class="ADABathroom"></div>
			</div>
        </div>

		<div class="loadMore textItem">
			Load More
		</div>
-->
</div>

<% end %>

