<div id="filters">

</div>

<div id="list">
		<div id="loading" class="textItem" >Loading...</div>
		
		<% @bathrooms.each_with_index do |b, i| %>
			<div class="listItem" data-id="<%= b.id %>">
				<div class="listItemImage">
					<!-- image tag goes here -->
				</div>
				
				<div class="itemInfo">
					<div class="itemName"><%= b.name %></div>
					<div class="itemStreet"><%= b.street %>, <%= b.city %>, <%= b.state %></div>
					<div class="itemRating">80% Positive</div>
				</div>
				
				<div class="itemExtraInfo">
					<div class="itemDistance"> 
						<% if b.respond_to?(:distance) %>
							<%= b.distance.round(2) %> miles
						<% end %>

					</div>
					<% if b.bath_type == 0 %>
						<div class="unisexBathroom"></div>
					<% end %>
					<% if b.access == 1 %>
						<div class="ADABathroom"></div>
					<% end %>
				</div>
			</div>
			<% break if i >= 20 %>
        <% end %>

		
        <div class="listItem listItemTemplate">
			<div class="listItemImage">
				<!-- image tag goes here -->
			</div>
			
			<div class="itemInfo">
				<div class="itemName"></div>
				<div class="itemStreet"></div>
				<div class="itemRating">80% Positive</div>
			</div>
			
			<div class="itemExtraInfo">
				<div class="itemDistance">N/A</div>
				<div class="unisexBathroom"></div>
				<div class="ADABathroom"></div>
			</div>
        </div>
		
		<div class="loadMore textItem">
			Load More
		</div>
</div>  

<script type="text/javascript">
var headerHidden = false;

$(function(){
	var itemArray = new Array();
	var list = $("#list");
	var template = $(".listItemTemplate").clone();
	var loading = $("#loading").clone();
	var loadMore = $(".loadMore").clone();
	var itemsPerLoad = 20;
	var loadedLocation = 0;
	
	template.removeClass("listItemTemplate");
	
	$(".listItemTemplate").remove();
	$(".loadMore").remove();
	
	$(document).on("click", ".loadMore", loadData);
	$(document).on("click", ".listItem", function(){
		// go to items show page
		window.location = "http://" + window.location.host + "/bathrooms/" + $(this).attr("data-id");
	});
	
	//get list of locations from server
	$.get( "list", function( data ) {
		itemArray = data;
		//loadData();
	});
	
	function loadData(){
		$("#loading").remove();
		$(".loadMore").remove();
		for(var i = 0; (loadedLocation < itemArray.length && i < itemsPerLoad); i++, loadedLocation++){
			var item = itemArray[loadedLocation];
			console.log(item);
			var container = template.clone();
			
			container.find(".itemName").html(item.name);
			container.find(".itemStreet").html(item.street + ", " + item.city + ", " + item.state);
			container.attr("data-id", item.id);
			
			var percentString;
			if(item.upvote || item.downvote){
				var percent = item.upvote / (item.upvote + item.downvote);
				percentString = percent + "% Positive";
				if(pecent > 0.75){
					container.find(".itemRating").addClass("greenRating");
				}else if(percent > 0.5){
					container.find(".itemRating").addClass("yellowRating");
				}else{
					container.find(".itemRating").addClass("redRating");
				}
			}else{
				percentString = "Not Yet Rated";
			}
			container.find(".itemRating").html(percentString);
			
			if(item.bath_type == 1)
				container.find(".unisexBathroom").remove();
			if(item.access == 0)
				container.find(".ADABathroom").remove();
			
			
			list.append(container);
		}
		list.append(loadMore.clone());
		
	}
	
});
</script>