<p>
  <strong> Location/Place/Business Name:</strong> <%= @bathroom.name %><br>
  <strong> Street Address: </strong> <%= @bathroom.street %><br>
  <strong> City: </strong> <%= @bathroom.city %><br>
  <strong> State: </strong> <%= @bathroom.state %> <br>
  <strong> Accessable? </strong> 
  <% if @bathroom.access == 1 %>
    Yes, the restroom is accessable!
  <% else %>
    Unfortunately this bathroom is not accessable!
  <% end %> <br>
  <strong> Type of Bathroom: </strong> 
  <% if @bathroom.type == 0 %>
    This is a unisex restroom!
  <% else %>
    This bathroom is not unisex, but is still a safe place to pee!"
  <% end %> <br>
  <strong> Directions: </strong> 
  <%= @bathroom.directions %> <br>
  <strong> Comments: </strong> <br>
    <%= @bathroom.comment %>
</p>