<div class="listItem showPageItem" data-id="<%= @bathroom.id %>">
  <%= render partial: 'bathrooms/bathroom', locals: { bathroom: @bathroom } %>
</div>

<div class="showPageContent">

  <div class="ratingscontainer">
	  <%= link_to t('bathroom.upvote'), up_vote_bathroom_path, confirm: t('bathroom.confirm.upvote'), :class => 'thumbsButton thumbsUp' %>
	  <%= link_to t('bathroom.downvote'), down_vote_bathroom_path, confirm: t('bathroom.confirm.downvote'), :class => 'thumbsButton thumbsDown' %>
	</div>

	<p>
    <strong> <%= t('bathrooom.directions') %>: </strong>
      <%= @bathroom.directions %> <br>
	</p>

	<p>
    <strong> <%= t('bathroom.comments') %>: </strong>
      <%= @bathroom.comment %><br>
	</p>

	<p>
		<%= link_to t('bathroom.contact.contactlisting'), contact_path %>
	</p>
	
	<div id ="map">
		<div id="mapArea"></div>

		<script type="text/javascript">
			var headerHidden = false;

			$(function(){
				initMap(<%= @bathroom.latitude %>, <%= @bathroom.longitude %>, showMarkerImage);

			});
		</script>
	</div>

</div>

<br />
<br />

<hr>

<%= render 'layouts/disqus_tag' %>
