<% # ADA filter and UNISEX filter have inconsistant default boolean values because i'm using the format originally used by the Safe2Pee db because the engineers were stupid and used different 1 for ADA and 0 for UNISEX. %>

<div class="listItem showPageItem" data-id="<%= @bathroom.id %>">
	<div class="itemInfo">
		<div class="itemName"><%= @bathroom.name %></div>
		<div class="itemStreet"><%= @bathroom.street %>, <%= @bathroom.city %>, <%= @bathroom.state %></div>

		<% if (@bathroom.upvote + @bathroom.downvote) != 0 %>
			<% percentage = (@bathroom.upvote / (@bathroom.upvote + @bathroom.downvote).to_f) * 100 %>

			<% if percentage > 70 %>
			<% className = "greenRating" %>
			<% else %>

				<% if percentage > 50 %>
				<% className = "yellowRating" %>
				<% else %>
				<% className = "redRating" %>
				<% end %>
			<% end %>

			<div class="itemRating <%= className %>"><%= t('bathroom.rating.positive', percentage: percentage.round) %></div>
		<% else %>
      <div class="itemRating"><%= t('bathroom.rating.unrated') %></div>
		<% end %>

	</div>

	<div class="itemExtraInfo">
		
		<% if @bathroom.bath_type == 0 %>
			<div class="unisexBathroom"></div>
		<% end %>
		<% if @bathroom.access == 1 %>
			<div class="ADABathroom"></div>
		<% end %>
	</div>
</div>

<div class="showPageContent">
	<div class="ratingscontainer">
	  <%= button_to t('bathroom.upvote'), up_vote_bathroom_path, confirm: t('bathroom.confirm.upvote'), :class => 'thumbsButton thumbsUp' %>
	  <%= button_to t('bathroom.downvote'), down_vote_bathroom_path, confirm: t('bathroom.confirm.downvote'), :class => 'thumbsButton thumbsDown' %>
	</div>

	<p>
  <strong> <%= t('bathrooom.directions') %>: </strong>
	<%= @bathroom.directions %> <br>
	</p>

	<p>
  <strong> <%= t('bathroom.comments') %>: </strong>
	<%= @bathroom.comment %><br>
	</p>
	
	<div id ="map">
		<div id="mapArea"></div>

		
		<script type="text/javascript">
			var headerHidden = false;

			$(function(){
				initMap(<%= @bathroom.latitude %>, <%= @bathroom.longitude %>, showMarkerImage);

			});
		</script>
	</div>

	

	</div>
</div>

<br><br>

<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'refugerestrooms'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

