<div class="listItem showPageItem" data-id="<%= @bathroom.id %>">
  <%= render partial: 'bathrooms/bathroom', locals: { bathroom: @bathroom } %>
</div>

<div class="showPageContent">

  <div class="ratingscontainer">
	  <%= link_to t('bathroom.upvote'), up_vote_bathroom_path, confirm: t('bathroom.confirm.upvote'), :class => 'thumbsButton thumbsUp' %>
	  <%= link_to t('bathroom.downvote'), down_vote_bathroom_path, confirm: t('bathroom.confirm.downvote'), :class => 'thumbsButton thumbsDown' %>
	</div>

	<p>
    <strong> <%= t('bathrooom.directions') %>: </strong>
      <%= @bathroom.directions %> <br>
	</p>

	<p>
    <strong> <%= t('bathroom.comments') %>: </strong>
      <%= @bathroom.comment %><br>
	</p>

	<p>
		<%= link_to t('bathroom.contact.contactlisting'), contact_path(bathroom_id: @bathroom.id) %>
	</p>
	
  <div id="map">
    <%= content_tag 'div', id: 'mapArea', data: { latitude: @bathroom.latitude, longitude: @bathroom.longitude } do %><% end %>
	</div>

</div>

<br />
<br />

<hr>

<%= render partial: 'layouts/disqus_tag', locals: { identifier: "bathroom-#{@bathroom.id}", title: @bathroom.name, url: request.original_url } %>
