%h1= t('restroom.add_new')
= simple_form_for @restroom, html: {class: 'form-vertical'} do |f|
  %h5= t('restroom.required')
  .clearfix
    #guess.linkbutton{:style => "width: 120px", :type => "button", :value => t('restroom.guess_location')}
      Guess Location
  #nearby
  = f.input :name, :required => true
  = f.input :street, :required => true
  = f.input :city, :required => true
  = f.input :state, :required => true
  = f.input :country, priority: ["United States", "Canada", "United Kingdom"], :required => true, input_html: {class: 'form-control'}
  = f.hidden_field :latitude
  = f.hidden_field :longitude
  = f.input :access, :collection => [[t('restroom.accessible'), 1], [t('restroom.not_accessible'), 0]], :include_blank => false
  = f.input :bath_type, :collection => [[t('restroom.type.unisex'), 0], [t('restroom.type.single_stall'), 1]], :include_blank => false
  = f.input :directions, :placeholder => t('restroom.directions_hint'), :as => :text, :required => false, :input_html => { :class => "span6" }
  = f.input :comment, :placeholder => t('restroom.comments_hint'), :as => :text, :required => false, :input_html => { :class => "span6" }
  = f.button :submit, t('restroom.restsubmit'), :class => "linkbutton"
