.listItem.showPageItem{"data-id" => @restroom.id}
  = render partial: 'restrooms/restroom', locals: { restroom: @restroom }
.showPageContent
  .ratingscontainer
    = link_to t('restroom.upvote'),
                vote_restroom_path,
                confirm: t('restroom.confirm.upvote'),
                method: 'post',
                class: 'thumbsButton thumbsUp'
    = link_to t('restroom.downvote'),
                vote_restroom_path,
                confirm: t('restroom.confirm.downvote'),
                method: 'delete',
                class: 'thumbsButton thumbsDown'
  %p
    %strong #{t('restrooom.directions')}:
    = @restroom.directions
  %p
    %strong #{t('restroom.comments')}:
    = @restroom.comment
  %p= link_to t('restroom.contact.contactlisting'), contact_path(restroom_id: @restroom.id, restroom_name: @restroom.name)
  #map
    %div#mapArea{ data: { latitude: @restroom.latitude, longitude: @restroom.longitude } }
  %hr
  = render partial: 'layouts/disqus_tag', locals: { identifier: "restroom-#{@restroom.id}", title: @restroom.name, url: request.original_url }
