%h3= t('restroom.add_bulk')

- case
- when user_signed_in? && @user.approved?
  %p= t('restroom.add_bulk_instructions')
  %ul
    %li= "name"
    %li= "street"
    %li= "city"
    %li= "state"
    %li= "country"
    %li= "accessible"
    %li= "changing_table"
    %li= "unisex"
    %li= "directions"
    %li= "comment"
    %li= "lat"
    %li= "long"
  = link_to "Sample downloadable CSV", download_csv_bulk_uploads_path
  = simple_form_for @bulk_upload do |f|
    = f.file_field :file
    = f.button :submit, t('restroom.csv_submit'), :class => "linkbutton"
- when user_signed_in?
  %p= t('restroom.add_bulk_request_pending')
- else
  %p
    = t('restroom.signin_for_bulk_upload')
    = link_to "here.", new_user_registration_path 