<span class="abouttext">

<center>
  <h1><%= t('about.title') %></h1>

  <h3><a HREF="https://github.com/tkwidmer/refugerestrooms"> <%= t('about.contribute') %></a> </p>

</center>
<div style="padding-left: 25px; padding-right: 25px;">
  <h3> <%= t('about.p1header') %> </h3>
  <p><%= t('about.p1') %></p>
  <h3><%= t('about.p2header') %> </h3>
  <p><%= t('about.p2') %> </p>
  <h3><%= t('about.p3header') %> </h3>
  <%= t('about.p3') %> </p>
  <p><h3><%= t('about.p4header') %> </h3>
  <p><%= t('about.p4') %> </p>
  <h3><%= t('about.p5header') %> </h3>
  <p><%= t('about.p5.first').html_safe %> </p>
  <p><%= t('about.p5.second').html_safe %> </p>
  <p><%= t('about.p5.third').html_safe %> </p>
  <p><%= t('about.p5.fourth').html_safe %> </p>
  <h3><%= t('about.p6header') %> </h3>
  <p><%= t('about.p6').html_safe %> </p>
</div>



</span>
