<div class="imgsplash">
  <%= image_tag('logo-dark.svg') %>
</div>
<div class="splashsearchcontainer"><center>
  <%= form_tag bathrooms_path, :method => :get do %>
  <%= text_field_tag :search, params[:search], :style => "width: 50%;" %> <br>
  <%= submit_tag "Search", :type => 'button', :name => nil, :class=> "btn btn-default" %>
  <%= hidden_field_tag :lat, "" %>
  <%= hidden_field_tag :long, "" %>
  <%= submit_tag "Search Current Location", :type => 'button', :name => nil, :class=> "btn btn-default", :title => 'Search by current location' %>
  <% end %>
  </center>
</div>

<div class="centerText">
  <p>
	This website is currently functional yet still under development. You may find that there are bugs. If you find any please submit an issue on github, or send us a <%= link_to 'message', contact_path %> so that we can resolve the issue ASAP. This is an Open Source project and we encourage you to contribute on GitHub.</p>
	<br/>
</div>
 
</div>
