<div style="padding-left: 25px; padding-right: 25px;">
    <h1> <%= t('about.signs.title') %> </h1>
    <p><%= t('about.signs.intro')  %></p>
    
    <div style="float:left;width:45%;text-align:center;margin:0 15px;">
        <h3><%= t("about.signs.head-accessible") %></h3>
        <a href="/rr-sign-with-handi.pdf"><img src="/assets/rr-sign-with-handi.png" style="padding:15px;border:1px solid #444;">
        <p><%= t("about.signs.download") %></p></a>
        <img src="/assets/qrcode-sign-with-handi.png" width="200">
    </div>
    <div style="float:left;width:45%;text-align:center;margin:0 15px;">
        <h3><%= t("about.signs.head-non-accessible") %></h3>
        <a href="/rr-sign-no-handi.pdf"><img src="/assets/rr-sign-no-handi.png" style="padding:15px;border:1px solid #444;">
        <p><%= t("about.signs.download") %></p></a>
        <img src="/assets/qrcode-sign-no-handi.png" width="200">
    </div>
    <div style="clear:both;"><br></div>
</div>

