%span.business_infotext
  %center
    %h1= t('business_info.title')
  .text-padding.p-text-sizebump
    %h3 
      = t('business_info.p1header')
    %p 
      = t('business_info.p1').html_safe
    %h3 
      = t('business_info.p2header')
    %p 
      = t('business_info.p2')
    %h3 
      = t('business_info.p3header')
    %p 
      = t('business_info.p3')
    %h3 
      = t('business_info.p4header')
    %p 
      = t('business_info.p4.first')
    %p 
      = t('business_info.p4.second').html_safe
    %ul
      %li 
        = t('business_info.p4.list1')
      %li 
        = t('business_info.p4.list2')
      %li 
        = t('business_info.p4.list3')
      %li 
        = t('business_info.p4.list4')
      %li 
        = t('business_info.p4.list5')
      %li 
        = t('business_info.p4.list6')
    %h3
      = t('business_info.p5header')
    %p 
      = t('business_info.p5')
    %h3
      = t('business_info.p6header')
    %p 
      = t('business_info.p6')

