%span.abouttext
  %center
    %h1= License & Permissions
  .text-padding
    %h3
      = Software
    %p
      = The software which powers REFUGE Restrooms is <a href="http://freeculture.org/learn/software/">free/libre and open source software</a> under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License version 3</a>. 
    %h3
      = Website
    %p
      = Copyleft © 2014 REFUGE Restrooms. Unless otherwise noted, this work is licensed under the Empowermentors Decolonial License 0.1
    %h3
      = Empowermentors Decolonial License 0.1
    %p
      = You may redistribute and/or modify the work released to you under the terms of this license, in whole or in part, under the terms of either this same license or a later version thereof, the <a href="http://artlibre.org/lal/en">Free Art License 1.3</a>, <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License 1.3</a>, or <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    %h3
      = What does this mean?
    %h4
      = You are free to: 
    %ul
      %li <strong>Use</strong> &#8212; to make any use of this work, which includes (if relevant) performing it
      %li <strong>Study</strong> &#8212; to examine this work as well as how it was made, and apply knowledge gained from it
      %li <strong>Share</strong> &#8212; to distribute, copy, and transmit this work, in whole or in part
      %li <strong>Adapt</strong> &#8212; to remix, transform, and build upon this work and share the changed versions of it
    %h4 
      = Under these conditions:
    %ul
      %li <strong>Share Alike</strong> &#8212; If you alter, transform, or build upon this work, you may distribute the resulting work only under the same or compatible license to this one.</li>
      %li <strong>Attribution</strong> &#8212; You must attribute this work with a link (but not in any way that suggests endorsement of you or your use of the work)
    %h3
      = Why?
    %p
      = We recognize that private ownership over media, ideas, and technology is rooted in European conceptions of property and the history of colonialism from which they formed. These systems of privatization and monopolization, namely copyright and patent law, enforce the systems of punishment and reward which benefit a privileged minority at the cost of others&#8217; creative expression, political discourse, and cultural survival. The private and public institutions, legal frameworks, and social values which uphold these systems are inseparable from broader forms of oppression. Indigenous people, people of color, queer people, trans people, and women are particularly exploited for their creative and cultural resources while hardly receiving any of the personal gains or legal protections for their work.
    %p
      = We also recognize that the public domain has jointly functioned to compliment the private, as works in the public domain may be appropriated for use in proprietary works. Therefore, we use copyleft not only to circumvent the monopoly granted by copyright, but also to protect against that appropriation.
    %h3
      = Integrity and credit
    %p
      = All of the licenses we use prevent derivative works from implying endorsement to protect against misrepresentation. They also all require attribution to the original publication of the work and clear indication that changes have been made. If you see someone appropriating our work with improperly implied endorsement or without proper attribution, please let us know.
    %h3 
      = Commercial use
    %p
      = Counter-intuitively, preventing commercial use retains a commercial monopoly on all rights associated with a work. The misleading name confuses many non-commercial projects into thinking this is an appropriate license, but permitting commercial use rejects those monopoly rights while copyleft protects it from being appropriated into a private work.
    %h3
      = Cultural appropriation
    %p
      = Adopting ideas, artifacts, practices, and other elements from marginalized cultures is a colonialist practice by which the cultural resources of indigenous people and people of color have been made readily available for consumption by others. In doing so, these elements are stripped of their cultural roots are stripped and reduced to consumable commodities exchanged between and benefiting their appropriators. What is perceived as innovative as adopted by others is seen as inferior in their original context. Globalized cultural and intellectual property systems have little potential to protect against or redress cultural appropriation because they were created specifically to allow and reward it. While rejecting private ownership over ideas, media, and technology does not necessarily inhibit cultural appropriation, doing so challenges the means to monopolize the products of appropriated resources.

