- if @contact.restroom_name.present?
  %h1= t('.request-edit-for-restroom', restroom_name: @contact.restroom_name)
- else
  %h1= t('.contact-title')
= simple_form_for @contact, html: {class: 'form-vertical headroom'} do |f|
  %p
  = f.input :name, :required => true
  = f.input :email, :required => true
  = f.input :message, :as => :text, :required => false, :input_html => {:rows => 10}
  .hidden
    = f.hidden_field :restroom_id, :required => false
    = f.hidden_field :restroom_name, :required => false
    = f.hidden_field :nickname, :hint => t('.leave-this-field-blank')
  .form-actions
    = f.button :submit, :class=> "linkbutton"
