<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "REFUGE Restrooms" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Refuge Restrooms" %>">
<meta name="keywords" content="gender neutral restrooms,gender,neutral,restrooms, unisex restrooms, unisex, restrooms, refuge restrooms, refuge, restrooms">
<meta name="author" content="RefugeRestrooms.org">
<script language="javascript" type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
