.container
  .row.min-headroom
    .col-xs-12.nav-column
      %nav.nav.navbar-default{:role => "navigation"}
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %a#logo.toiletLogo{:href => "/"}
            .navbar-brand Refuge Restrooms
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only= t('.toggle-navigation-button-label')
            %i.fa.fa-bars.fa-2x
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to t('.submit-a-new-restroom-hyperlink-label'), new_restroom_path
            %li= link_to t('.about-hyperlink-label'), page_path('about')
            %li= link_to t('.contact-hyperlink-label'), contact_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = t('.resources-dropdown-button-label')
                %b.caret
              %ul.dropdown-menu
                %li= link_to t('.download-unisex-restroom-signs-hyperlink-label'), page_path('signs')
                %li= link_to t('.public-api-hyperlink-label'), '/api/docs/'
        / /.navbar-collapse
