.row
  - splash = false if local_assigns[:splash].nil?
  .search
    = form_tag restrooms_path, :method => :get do
      = content_tag (splash ? :center : :div) do
        .searchBarContainer
          = text_field_tag :search, params[:search], :class => "searchBar form-control"
        = hidden_field_tag :lat, ""
        = hidden_field_tag :long, ""
        = submit_tag "Search", :type => 'button', :name => nil, :class=> "searchButton submitButton btn btn-default"
        = submit_tag "", :type => 'button', :name => nil, :class=> "currentLocationButton btn btn-default", :title => 'Search by current location', :value => (splash ? "Search Current Location" : nil)
