<div class="search">
  <div class="toiletLogo" id="logo"></div>
  
  <%= form_tag bathrooms_path, :method => :get do %>
    <div class="searchBarContainer">
      <%= text_field_tag :search, params[:search], :class => "searchBar" %>
    </div>
    <%= submit_tag "Search", :type => 'button', :name => nil, :class=> "linkbutton searchButton submitButton" %>
    <%= hidden_field_tag :lat, "" %>
    <%= hidden_field_tag :long, "" %>
    <%= submit_tag "", :type => 'button', :name => nil, :class=> "linkbutton currentLocationButton", :title => 'Search by current location' %>
  <% end %>
</div>

<script type="text/javascript">
  var searchDefaultText = "1 Embarcadero Center, San Francisco, CA";

  var search = $("#search");
  
  $(function(){
    $("#logo").click(function(){
      window.location = "http://" + window.location.host;
    });

    setDefaultText(search, searchDefaultText);

    $(".submitButton").click(function(){
      $(".search").find("form").submit();
    });


    $(".search").find("form").submit(function(event){
      //remove default text on empty search
      preventSearchWithDefault(search);

      if($("#lat").val() == "" 
          || $("#long").val() == "" 
          || $("#lat").val() == undefined 
          || $("#long").val() == undefined
      ){
        event.preventDefault();
        searchLocation(search.val());
      }
    });

    $(".currentLocationButton").click(function(){
        searchCurrent();
    });
  });

  function setDefaultText(element, text){
    //ensure we're not overwriting a value
    if(element.val() == ""){
      element.val(text);
      element.addClass("fadedText");

      //remove effects on focus
      element.focus(function(){ 
        element.removeClass("fadedText");
        element.val("");

        //when unfocused set back to default if there is no text
        element.blur(function(){setDefaultText(element,text);});
      });
    }
  }

  function preventSearchWithDefault(searchBox){
    //use class to determine if the text has been modified or not
    if(searchBox.hasClass("fadedText") && searchBox.val() == searchDefaultText){
      //set search field back to blank
      searchBox.val("");
    }
  }
</script>
