<div class="search">  
  <%= form_tag bathrooms_path, :method => :get do %>
    <div class="searchBarContainer">
      <%= text_field_tag :search, params[:search], :class => "searchBar" %>
    </div>
    <%= submit_tag "Search", :type => 'button', :name => nil, :class=> "whitelinkbutton searchButton submitButton" %>
    <%= hidden_field_tag :lat, "" %>
    <%= hidden_field_tag :long, "" %>
    <%= submit_tag "", :type => 'button', :name => nil, :class=> "whitelinkbutton currentLocationButton", :title => 'Search by current location' %>
  <% end %>
</div>

<%= render 'layouts/search_js' %>