<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/header' %>
    </header>

    <main role="main">
      <div class='container'>
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </main>
    
    <%= render 'layouts/disqus_tag' %>
    <%= render 'layouts/ga_tag' %>
  </body>
</html>
