<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "REFUGE Restrooms" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Refuge Restrooms" %>">
    <meta name="keywords" content="gender neutral restrooms,gender,neutral,restrooms, unisex restrooms, unisex, restrooms, refuge restrooms, refuge, restrooms">
    <meta name="author" content="RefugeRestrooms.org">
    <script language="javascript" type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/header' %>
    </header>

    <main role="main">

      <div class='container'>
       <%= render 'layouts/messages' %>
       <%= yield %>

        <footer>
          <div class="footer">
            <a href="https://github.com/tkwidmer/refugerestrooms">
              <img class="icon iconGitHub" alt="Refuge Restrooms on github" /></a>
            <a href="https://twitter.com/refugerestrooms">
              <img class="icon iconTwitter" alt="Refuge Restrooms on twitter"></a> 
            <a href="https://www.facebook.com/refugerestrooms">
              <img class="icon iconFacebook" alt="Refuge Restrooms on facebook"></a> 
            <a href="http://blog.refugerestrooms.org/">
              <img class="icon iconTumblr" alt="Refuge Restrooms's blog on tumblr"></a>
            <a href="<%= contact_path %>">
              <img class="icon iconEmail" alt="Email Refuge Restrooms"></a>
            <br/>
            refuge restrooms is open source.  
            <a href="https://github.com/tkwidmer/refugerestrooms"> code on github. </a> 
            <br/>
            &copy; copyleft 2014 refuge restrooms.
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>
