<!DOCTYPE html>
<html>
<head>
  <title>Safer Stalls</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Leafly stylesheet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
</head>

<body>

<main role="main">

  
  <div class="container">

    <div class ="header">
      <center><h1> Safer Stalls </h1>
      <p> an open source gender neutral bathroom resource for queer, trans, and gender nonconforming folk.</p>
    </center> </div>
    
    <div class="nav">
      <%= link_to "submit a bathroom", new_bathroom_path %> ||
      <%= link_to "list all bathrooms",bathrooms_path %> ||
      <a HREF="http://www.github.com/tkwidmer/saferstalls_rails"> find us on github </a>
    </div>

    <div class="content" >
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <footer>
      </footer>
    </div>
  </div> <!-- /container -->

</main>


</body>
</html>
