<!DOCTYPE html>
<html>
<head>
  <title>REFUGE</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script language="javascript" type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>

<main role="main">

  
  <div class="container">
	<div class="headerContainer">
		<div class ="flash-alert">
		  <%= render 'layouts/flash_messages' %>
		</div>


		<div class ="header">
		  <center><h1> REFUGE </h1>
		  <p> Providing access to safe restrooms for trans, intesex, and gender nonconforming folk.</p>
		</center> </div>
		
		<div class="nav">
		  <%= link_to "home", root_path %> ||
		  <%= link_to "submit a bathroom", new_bathroom_path %> ||
		  <%= link_to "list all bathrooms",bathrooms_path %> ||
		  <a HREF="http://www.github.com/tkwidmer/saferstalls_rails"> find us on github </a>
		</div>
		
		<div class="hideHeader">Hide Header</div>
	</div>
    <div class="content" >
      <br> <br>
      <%= yield %>
      <footer>
      </footer>
    </div>
  </div> <!-- /container -->

</main>



<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'refugerestrooms'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
    


</body>
</html>
