!!!
%html
  %head
    = render 'layouts/head'
  %body
    %header
      = render 'layouts/header'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield
        = render 'layouts/footer'
    = render 'layouts/ga_tag'
    = piwik_tracking_tag
