<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "REFUGE Restrooms" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Refuge Restrooms" %>">
    <meta name="keywords" content="gender neutral restrooms,gender,neutral,restrooms, unisex restrooms, unisex, restrooms, refuge restrooms, refuge, restrooms">
    <meta name="author" content="Teagan Widmer, Alicia Woitte, Natalie Roman, Stephan Castro">
    <script language="javascript" type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/header' %>

    </header>

    <main role="main">

      <div class='content'>
       <%= render 'layouts/messages' %>
       <%= yield %>

      <footer>
        <div class="footer">
        <a HREF="https://github.com/tkwidmer/refugerestrooms" class="icon iconGitHub"></a>
        <a HREF="https://twitter.com/refugerestrooms" class="icon iconTwitter"></a> 
        <a HREF="https://www.facebook.com/refugerestrooms" class="icon iconFacebook"></a> 
        <a HREF="http://blog.refugerestrooms.org/" class="icon iconTumblr"></a>
        <a href="<%= contact_path %>" class="icon iconEmail"></a>
        <br/>
          refuge restrooms is open source.  
        <a HREF="https://github.com/tkwidmer/refugerestrooms"> code on github. </a> <br> &copy; copyleft 2014 refuge restrooms.

        </div>
      </footer>
    </main>
  </body>
</html>
