!!!
%html{lang: I18n.locale}
  %head
    = render 'layouts/head'
  %body
    - if @mobile
      - # For iOS and Android clients redirecting to our pages for input of bathrooms, we will hide the header.
      %header
        = render 'layouts/header'
    %main
      .container
        = render 'layouts/messages'
        = yield
        = render 'layouts/footer'

    = render 'layouts/ga_tag'
