!!!
%html
  %head
    = render 'layouts/head'
  %body
    .splashcontainer
      %header
        = render 'layouts/navigation'
      .container
        = yield
        = render 'layouts/footer'
    = render 'layouts/ga_tag'
