<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="splashcontainer">
      <header>
        <%= render 'layouts/navigation' %>
      </header>

      <div class = 'container'>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>

    <%= render 'layouts/ga_tag' %>
  </body>
</html>
